   <div class="navbar">
          <button class="menu-toggle" id="menuToggle">☰</button>
       <!-- // Momken ab3at data be GET method bas hatetpe3t fe el url ka query-params ?key=value mesh baram 3ady-->
          <form class="search" action="/search" method="GET" ">
  <input 
    type="text" 
    name="searchInput" 
    placeholder="Search customers by name, email, phone ,address..." 
    class="search-input"
     id="searchInput"
  />
  <button type="submit"  id="searchBtn">Search</button>
</form>

          <div
            style="
              min-width: 120px;
              display: flex;
              gap: 8px;
              justify-content: flex-end;
            "
          ></div>
        </div>
