  <aside class="sidebar" id="sidebar">
        <div class="brand">My Dashboard</div>
        <ul class="menu">
          <li>
            <button class="btn" onclick="window.location.href='/'">
              🏠 Home
            </button>
          </li>
          <li>
            <button class="btn primary" onclick="window.location.href='/add'">
              ＋ Add Customers
            </button>
          </li>
        </ul>

        <div class="more">Settings • Reports • Help</div>
      </aside>